@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #202124;
  min-height: 110vh;
}

html {
  font-size: 62.5%;
}

hr{
  color: rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
}

header .title {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem;
  color: #fff;
}
.map-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.building {
  display: none;
  position: absolute;
  width: 25rem;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  min-height: 25rem;
  border-radius: 1rem;
  animation: fade-in 0.5s ease;
  box-shadow: -1px 4px 22px 9px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.building__photo {
  width: 100%;
  height: auto;
}

.building__name {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin: 0.75rem;
}

.building__description {
  font-size: 1.5rem;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.521);
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
}

.modal {
  width: 45rem;
  background-color: white;
  padding: 0 2rem 2rem 2rem;
  overflow: hidden;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.75);
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  animation: fade-in 0.5s ease;
}

.modal__button--container{
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.modal__button{
  border: none;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(218, 209, 209);
  margin-left: auto;
  cursor: pointer;
}

.modal__button:hover{
  background-color: rgb(209, 35, 35);
  color: white;
}

.modal__building--image{
  width: 100%;
}

.modal__building--name{
  margin: 0.75rem;
  font-size: 2.5rem;
  letter-spacing: .1rem;
}

.modal__building--description{
  font-size: 1.75rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-enter {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}